<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Result</h1>
<p th:text="'geo_lat: ' + ${location.geo_lat}"></p>
<p th:text="'geo_lon: ' + ${location.geo_lon}"></p>
<a href="/geoLocation">Submit another message</a>
</body>
</html>